// Animate the transition between pages
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
.floating-img{
  width: 80px;
  margin-right: 15px;
}
.v-list-item{
  border-bottom: 1px solid #616161;
  padding: 15px 10px !important;
}
.no-underline{
  text-decoration: none;
  color: #ffffff !important;
}
.v-list-item__title{
  cursor: pointer;
}
